.titleBar {
    display: inline-block;
    width : 95%;
    background-color: #cd6a13;
    border-radius: 20px;
    text-align: center;
    font-size: 30px;
    padding: 30px;
}

.contents-wrapper {
    display: inline-block;
    width: 90%;
    margin-left: 5%;
    margin-top: 50px;
    background-color: cornsilk;
}

.content-head {
    display: inline-block;
    width: 100%;
    height: auto;
    background-color: #cd953e;
    /*border-radius: 10px;*/
    text-align: center;
    font-size: 20px;
}

.content-body {
    display: inline-block;
    width: 100%;
    height: 30px;
    background-color: #c3cdb0;
    border-radius: 10px;
    margin-top: 10px;
    text-align: center;
    font-size: 30px;
}

.content-body-wrapper {
    display: inline-block;
    width: 100%;
    height: 50px;
}

.content-domain {
    display: inline-block;
    width: 100%;
    height: auto;
    background-color: #6371cd;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    text-align: center;
    font-size: 20px;
}

.content-side {
    margin-top: 20px;
    display: inline-block;
    float: right;
}

.checkBox {
    display: inline-block;
    float: right;
}

.addToDo {
    display: inline-block;
    font-size: 10px;
    border-radius: 20px;
    width: 60px;
    height: auto;
    background-color: #c9f400;
}

#add-todo {
    font-size: 20px;
}

#targetToDo {
    font-size: 20px;
}

.addrefBtn {
    font-size: 20px;
}

.pagination {
    display: inline-block;
}

.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
}
