<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>test</title>
    <link rel="stylesheet" href="/css/index.css">
</head>
<body>
    <div class="titleBar">Hello! This is your to do lists.</div>

    <div class="contents-wrapper">
        <div class="content-head">
            <a>|   id   |   title   |   created_date   |   modified_date   |   refering_to_dos_id   |</a>
        </div>
        {{#todos.content}}
        <div class="content-body">
            <input type="checkbox" id="checkBox" class="checkBox" value="{{id}}">
            <label for="checkBox"></label>
            <div class="content-body-wrapper">
                <li class="content-domain">|&nbsp; {{id}} &nbsp; | &nbsp; {{title}} &nbsp; | &nbsp; {{formattedCreatedDate}} &nbsp;
                    | &nbsp; {{formattedModifiedDate}} &nbsp; | &nbsp; {{referId}} &nbsp; |
                    <select id="targetToDo" value="{{id}}">
                        {{#todoList}}
                        <option id="optionSelected" value="{{id}}">{{id}} 번 할일 : {{title}}</option>
                        {{/todoList}}
                    </select>
                    <button type="submit" value="{{id}}" class="addrefBtn">addref</button>
                </li>

            </div>
        </div>
        {{/todos.content}}
        <div class="content-side">
            <input id="add-todo-textarea" type="text" class="validate" placeholder="TO-DO TITLE"/>
            <button type="submit" class="addToDo" onclick="addToDo()" value="/api/todos/">ADD TODO</button>
        </div>

        <div class="pagination">
            <a>&laquo;</a>
            {{#pages}}
            <a href="?page={{@index}}"> {{@index}} </a>
            {{/pages}}
            <a>&raquo;</a>
        </div>

    </div>
<script type="text/javascript" src="/js/jquery.js"></script>
<script type="text/javascript" src="/js/index.js"></script>
</body>
</html>